<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body style="text-align:center">
<div th:each="author: ${authors}">
    <span th:text="${author.id}"></span>
    <span th:text="${author.name}"></span>
    <span th:text="${author.description}"></span>
    <span th:text="${author.gender}"></span>
    <span th:text="${author.birthDate}"></span>
    <button th:onclick="|window.location.href='/authors/delete/${author.id}'|">Delete</button>
    <button th:onclick="|window.location.href='/authors/update/${author.id}'|">Update</button>
</div>
<br>
<input type="button" value="New Author" th:onclick="|window.location.href='/authors/new'|">
</body>
</html>