<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="row justify-content-center m-5">
    <div class="col-md-6">
        <form action="#" th:action="@{/books}" th:object="${book}" method="post">
            <div class="input-group mb-3">
                <input type="text" name="title" placeholder="Book title" class="form-control">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="description" placeholder="Description" class="form-control">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="series" placeholder="Series" class="form-control">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="isbn" placeholder="Isbn" class="form-control">
            </div>
            <div class="input-group mb-3">
                <select th:field="*{author}" class="custom-select">
                    <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <select th:field="*{publisher}" class="custom-select">
                    <option th:each="publisher: ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
                </select>
            </div>
            <div class="input-group mb-3 row justify-content-center">
                <input type="submit" value="Add Book" class="btn btn-secondary">
            </div>
        </form>
    </div>
</div>
</body>
</html>