<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="m-3">
        <form action="#" th:action="@{/books/search}" th:object="${searchmodel}" method="get">
            <div class="input-group mb-3 ">
                <input type="text"
                       th:value="${searchValues != null} ? ${searchValues.title} : null"
                       name="title"
                       placeholder="Title"
                       class="form-control mr-3"
                >
                <input type="text"
                       th:value="${searchValues != null} ? ${searchValues.series} : null"
                       name="series"
                       placeholder="Series"
                       class="form-control mr-3"
                >
                <input type="text"
                       th:value="${searchValues != null} ? ${searchValues.isbn} : null"
                       name="isbn"
                       placeholder="Isbn"
                       class="form-control">
            </div>
            <div class="input-group row justify-content-center">
                <input type="submit" class="btn btn-primary mx-3" value="Search">
                <input type="button" class="btn btn btn-warning" th:onclick="|window.location.href='/books'|"
                       value="Reset"></input>
            </div>
        </form>
    </div>
    <hr>
    <div class="row justify-content-center">
        <input class="btn btn-secondary m-3" type="button" value="New Book"
               th:onclick="|window.location.href='/books/new'|">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Series</th>
                <th scope="col">Isbn</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${books}">
                <th scope="row" th:text="${book.id}"></th>
                <td th:text="${book.title}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.series}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.author.name}"></td>
                <td th:text="${book.publisher.name}"></td>
                <td>
                    <button class="btn btn-danger btn-sm"
                            th:onclick="|window.location.href='/books/delete/${book.id}'|">Delete
                    </button>
                    <button class="btn btn-info btn-sm" th:onclick="|window.location.href='/books/update/${book.id}'|">
                        Update
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>