<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Publisher Update</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="row justify-content-center m-5">
    <div class="col-md-6">
        <form action="#" th:action="@{/publishers/update/} + ${updatePublisher.id}" th:object="${publisher}"
              method="post">
            <div class="input-group mb-3">
                <input type="text" name="name" th:value="${updatePublisher.name}" placeholder="Publisher Name"
                       class="form-control">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="description" th:value="${updatePublisher.description}"
                       placeholder="Description"
                       class="form-control">
            </div>
            <div class="input-group mb-3 row justify-content-center">
                <input type="submit" value="Update" class="btn btn-secondary">
            </div>
        </form>
    </div>
</div>
</body>
</html>